body{
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
}
#logo{
    
    border: 2px solid #B3762E;
    border-radius: 25px;
    /*height: 100 px;*/
}
header img{
    height: 100px;
}

.bleu{
    font-family: 'Eater', cursive;
    color: #0B7DB3;
}